doctype html
html(lang="en")
  head
    //- Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- Favicon, via https://realfavicongenerator.net/
    <link rel="shortcut icon" href="/favicon.ico">

    title real-estate-photo-minimap

    //- https://www.bootstrapcdn.com/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")

    //- Build our stylesheet
    link(rel="stylesheet", href="css/main.scss")
  body
    .container
        .row: .col-12
            h1 real-estate-photo-minimap
            p Generate a minimap browser for real estate photos

            p Built out of frustration with disorienting rental and real estate listings (e.g. photos jumping between rooms, no blueprint image)

        .row.mb-4: .col-12
            //- TODO: Link to example page
            img(src="https://via.placeholder.com/1080x300", alt="Example screenshot")

        .row: .col-12
            h2 How to get started
            p We have a few options to choose from:

            .mb-4
                p: strong.h4 View example page
                //- TODO: Link to example pages
                p
                    a.btn.btn-outline-primary.btn-lg Photos only
                    = " "
                    a.btn.btn-primary.btn-lg Completed example

            //- TODO: Link example page
            .mb-4
                p: strong.h4 Use a known listing
                .mb-3
                    div: strong= "Option 1: URLs"
                    div: a.btn.btn-primary.btn-lg Enter image URLs from listing
                .mb-3
                    div: strong= "Option 2: Bookmarklet"
                    mixin bookmarklet(code)
                        .row
                            .col-4: pre.mb-0.card.bg-light: code.card-body= code
                            .col-8
                                div: a.btn.btn-primary.btn-lg(href=code) Bookmarklet
                                div "Right click &rarr; Save Link as..." to save as bookmarklet
                    .mb-4
                        p.mb-1 Use the following bookmarklet to start from a supported MLS listing
                        //- TODO: Swap in bookmarklet content
                        +bookmarklet("javascript:alert(1)")
                        p.mb-0: em: small
                            = "Currently supported MLS: "
                            a(href="https://sfarmls.rapmls.com/") SFARMLS

                    .mb-4
                        p.mb-1 To open SFARMLS from RedFin, here's a convenience bookmarklet:
                        +bookmarklet("javascript:alert(1)")

                    .mb-4
                        p
                            = "To request support for additional websites, please "
                            a(href="https://twolfson.com/contact") contact Todd as instructed on their site
