doctype html
html(lang="en")
  head
    //- Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- Favicon, via https://realfavicongenerator.net/
    <link rel="shortcut icon" href="/favicon.ico">

    title real-estate-photo-minimap

    //- https://www.bootstrapcdn.com/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")

    //- Build our stylesheet
    link(rel="stylesheet", href="css/main.scss")
  body
    .container
        .row: .col-12
            h1 real-estate-photo-minimap
            p Generate a minimap browser for real estate photos

            p Built out of frustration with disorienting rental and real estate listings (e.g. photos jumping between rooms, no blueprint image)

        .row: .col-12
            img(src="https://via.placeholder.com/1080x300", alt="Example screenshot")
