doctype html
html(lang="en")
  head
    //- Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- TODO: Add favicon
    //- TODO: Add analytics
    //- TODO: Add error handling
    title real-estate-layout-tool

    //- https://getbootstrap.com/docs/4.1/getting-started/download/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")

    //- Build our stylesheet
    link(rel="stylesheet", href="main.css")
  body
    #react-content
      .container
        .row: .col-12
          strong Loading...

    //- RUn our main JS after all content loaded
    script(src="main.js")
