// DEV: Standalone file to allow double use within JS
// **WARNING:** Be very careful when changing format. JS expects certain setup

// Based on: https://smile.amazon.com/Coding-Circle-Labels-Stickers-Assorted/dp/B08JMGWWZW
//   https://images-na.ssl-images-amazon.com/images/I/41uthP1lLOL._AC_.jpg
$location-1-bg: #0084ce; $location-1-fg: white; // Blue
$location-2-bg: #00b7f0; $location-2-fg: white; // Light blue
$location-3-bg: #95c2cc; $location-3-fg: white; // Dark green/blue
$location-4-bg: #f5ad03; $location-4-fg: white; // Orange
$location-5-bg: #e7222c; $location-5-fg: white; // Red
$location-6-bg: #35d0ac; $location-6-fg: white; // Light green
$location-7-bg: #07bb12; $location-7-fg: white; // Dark green
$location-8-bg: #fdf73f; $location-8-fg: black; // Yellow
$location-9-bg: #701d85; $location-9-fg: white; // Purple
$location-0-bg: #fd5fda; $location-0-fg: white; // Pink
