// Custom Bootstrap extensions
// Override normal container behavior, focused on desktop only app
.container {
  width: 1140px;
  max-width: none;
}

.progressbar-muted {
  background-color: transparent;
  color: black;
  opacity: 0.4;
}

.row-cols-8 > * {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

// One-off style fixes to allow input group to look akin to a button grop with different layout
.input-group-as-btn-group {
  .input-group-text {
    border: 0;
  }
  .form-control-plaintext {
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Custom CSS styles
// Based on: https://smile.amazon.com/Coding-Circle-Labels-Stickers-Assorted/dp/B08JMGWWZW
//   https://images-na.ssl-images-amazon.com/images/I/41uthP1lLOL._AC_.jpg
$location-1-bg: #0084ce; $location-1-fg: white; // Blue
$location-2-bg: #00b7f0; $location-2-fg: white; // Light blue
$location-3-bg: #95c2cc; $location-3-fg: white; // Dark green/blue
$location-4-bg: #f5ad03; $location-4-fg: white; // Orange
$location-5-bg: #e7222c; $location-5-fg: white; // Red
$location-6-bg: #35d0ac; $location-6-fg: white; // Light green
$location-7-bg: #07bb12; $location-7-fg: white; // Dark green
$location-8-bg: #fdf73f; $location-8-fg: black; // Yellow
$location-9-bg: #701d85; $location-9-fg: white; // Purple
$location-0-bg: #fd5fda; $location-0-fg: white; // Pink

.location-1-bg { background-color: $location-1-bg; color: $location-1-fg; }
.location-2-bg { background-color: $location-2-bg; color: $location-2-fg; }
.location-3-bg { background-color: $location-3-bg; color: $location-3-fg; }
.location-4-bg { background-color: $location-4-bg; color: $location-4-fg; }
.location-5-bg { background-color: $location-5-bg; color: $location-5-fg; }
.location-6-bg { background-color: $location-6-bg; color: $location-6-fg; }
.location-7-bg { background-color: $location-7-bg; color: $location-7-fg; }
.location-8-bg { background-color: $location-8-bg; color: $location-8-fg; }
.location-9-bg { background-color: $location-9-bg; color: $location-9-fg; }
.location-0-bg { background-color: $location-0-bg; color: $location-0-fg; }

.location-img::before { display: block; position: absolute; text-align: center; font-size: 12px; padding: 0 4px; }
.location-1-img { border: 2px solid $location-1-bg; }
.location-1-img::before { content: '1'; background-color: $location-1-bg; color: $location-1-fg; }
.location-2-img { border: 2px solid $location-2-bg; }
.location-2-img::before { content: '2'; background-color: $location-2-bg; color: $location-2-fg; }
.location-3-img { border: 2px solid $location-3-bg; }
.location-3-img::before { content: '3'; background-color: $location-3-bg; color: $location-3-fg; }
.location-4-img { border: 2px solid $location-4-bg; }
.location-4-img::before { content: '4'; background-color: $location-4-bg; color: $location-4-fg; }
.location-5-img { border: 2px solid $location-5-bg; }
.location-5-img::before { content: '5'; background-color: $location-5-bg; color: $location-5-fg; }
.location-6-img { border: 2px solid $location-6-bg; }
.location-6-img::before { content: '6'; background-color: $location-6-bg; color: $location-6-fg; }
.location-7-img { border: 2px solid $location-7-bg; }
.location-7-img::before { content: '7'; background-color: $location-7-bg; color: $location-7-fg; }
.location-8-img { border: 2px solid $location-8-bg; }
.location-8-img::before { content: '8'; background-color: $location-8-bg; color: $location-8-fg; }
.location-9-img { border: 2px solid $location-9-bg; }
.location-9-img::before { content: '9'; background-color: $location-9-bg; color: $location-9-fg; }
.location-0-img { border: 2px solid $location-0-bg; }
.location-0-img::before { content: '0'; background-color: $location-0-bg; color: $location-0-fg; }
.selected-image { outline: 2px solid black; }

.location-1-box { border: 2px solid $location-1-bg; }
.location-2-box { border: 2px solid $location-2-bg; }
.location-3-box { border: 2px solid $location-3-bg; }
.location-4-box { border: 2px solid $location-4-bg; }
.location-5-box { border: 2px solid $location-5-bg; }
.location-6-box { border: 2px solid $location-6-bg; }
.location-7-box { border: 2px solid $location-7-bg; }
.location-8-box { border: 2px solid $location-8-bg; }
.location-9-box { border: 2px solid $location-9-bg; }
.location-0-box { border: 2px solid $location-0-bg; }
.location-box__img {
  height: 100px;
  width: auto;
}
.location-box__img-1,
.location-box__img-2 {
  position: relative;
}
.location-box__img-1 {
  z-index: -1;
  margin-top: -88px;
  margin-left: 12px;
}
.location-box__img-2 {
  z-index: -2;
  margin-top: -88px;
  margin-left: 24px;
}
